/* Colors CSS */

/* Grund regler */
:root {
  /* färg */
  --backgrounddark: #09243b;
  --backgroundwhite: white;
  --backgroundwhite1: rgb(247, 242, 242); /* timeline vit */
  --font: monospace, monospace;

  /* knappar */
  --backgroundblue: #134977;

  /* text storlek */
  --sizeh1title: 50px;
  --sizeheading: 25px;
  --sizepopbuttoms: 20px;
  --textsize: 14px;
  --textplace: 150px;
  --textsizesmall: 12px;
  --textsizesmallsmall: 11px;

  /* text färg */
  --textcolordarkwhite: white;

  /* mobile-nav stående färg */
  --hovercolor: rgba(9, 36, 59, 0.8); /* mobile-nav hover */

  /* mobile-nav backgrund */
  --backgrundnav: rgba(9, 36, 59, 0.4);

  /* Nya dark-mode variabler */
  --bg-color: var(--backgroundwhite); /* Bakgrundsfärg */
  --input-color: var(--backgrounddark); /* Text/ikon-färg */

  /* Dark mode switch */
  --dark-bg-color: var(--backgrounddark);
  --dark-input-color: var(--backgroundwhite);

  /* knapp färg */

  --btn-backgroundcolor: #57585a;

  body {
    background: var(--bg-color);
    color: var(--input-color);
    transition: background 0.3s, color 0.3s;
  }

  .dark-mode {
    --bg-color: black;
    --input-color: var(--dark-input-color);
    --backgrounddark: #797c7e;
    --backgroundblue: #51575c;
    --hovercolor: rgba(63, 67, 70, 0.8); /* mobile-nav hover */
  }
}
