
/* Första wrapper */
.main-content-wrapper {
    flex: 1;
    flex: 0 0 35%;
    background-color: var(--backgrounddark);
  }
  
  /* dark */
.dark-white {
  justify-items: center;
  position: flex;
  padding-top: 5%;
  
}
  
  h1 {
    font: 20px "Poppins", sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
    color: var(--input-color)
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: var(--backgroundwhite);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bi-moon-fill {
    color: #0a0a0a;
  }
  
  .bi-sun-fill {
    color: #e6e20b;
  }
  
  .checkbox-label .ball {
    background: var(--btn-backgroundcolor);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    box-shadow: 0 0 1px #0c0c0c;
  }
  
  .checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
  }
  

/* bild - profil */
  .intro-bild {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column; /* Stapla innehållet vertikalt */
    justify-content: flex-end; /* Flytta innehållet längst ner */
    margin-left: 10%;
    margin-top: 15%;
  }
  
  .foto {
    width: 20%;
    border-radius: 50px;
  }
  
  /* Introduktion */
  .intro-section {
    flex: 1;
    background-color: transparent;
    color: var(--textcolordarkwhite);
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #mainboxtitle {
    font-size: var(--sizeheading);
  }
  
  #link-btn {
    font-size: var(--textsize);
  }

  #texthead {
    font-size: var(--textsize);
  }
  
  /* popout knappar */
  .intro-section a {
    color: var(--textcolordarkwhite);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--sizepopbuttoms);
  }
  
  .intro-section a:hover {
    color: rgb(72, 72, 231);
  }
  
  /* Footer */
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15%;
  }
  
  .footer-up img {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  
  .footer-up img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
  }
  
  .footer-down {
    font-size: var(textsizesmall);
    color: var(--textcolordarkwhite);
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #copyright {
    font-size: var(--textsizesmallsmall);
  }

