/* css */
@import url("colors.css"); /* färger / text på hemsida */
@import url("notifi.css"); /* notifikationen som är först på sidan */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css?v=1.11.3"); /* olika icons */

@import url("main-content.css"); /* Första delen */
@import url("popup.css"); /* popupp rutor */
@import url("second-content.css"); /* andra dele */

@import url("nav.css"); /* meny för både mobil och tablet  */
@import url("media-mobile.css"); /* media för mobile */
@import url("media-tablet.css"); /* media för tablet */

/* Container */

* {
  box-sizing: border-box;
  
}
body {
  background-color: var(--backgroundwhite);
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--font);
  overflow-x: hidden;
}

.container {
  display: flex;
  background-color: var(--backgroundwhite1);
  color: var(--textcolordarkwhite);
  max-width: 1000px;
  max-height: 900px;
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 50px rgb(104, 103, 103), -2px -2px 50px rgb(104, 103, 103);
  border-radius: 25px;
}

/* uppdelning av boxarna */
.main-content-wrapper,
.second-content-wrapper {
  flex-grow: 1;
}
