
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
    /* Anpassade stilar för alla iPad-modeller */
  }
  body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  