/* notifikationen */



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Halvtransparent svart bakgrund */
  -webkit-backdrop-filter: blur(10px); /* safari version */
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.welcome-text {
  font-family: var(--textsize);
  color: white;
  text-align: center;
}
.btn-primary {
  background: #696969;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  
}
.btn-primary:hover {
  background: #4d4d4d;
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.notification {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #0f0f0f;
  padding: 20px;
  border-radius: 15px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s forwards;
}

/* Göm notifikationen initialt */
.hidden {
  display: none;
}

/* Visa notifikationen dynamiskt */
.show {
  display: flex;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikal centrering */
  padding: 0 5px; /* Lägg till lite padding om det behövs */
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}
/* klocka */
.clock {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(161, 159, 159);
}

.notif-i {
  font-size: 2rem;
  color: white;
  margin-bottom: 5px;
}
.text {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.line {
  height: 2px; /* Linjens höjd */
  width: 100%; /* Linjens bredd */
  background-color: white; /* Färg */
  margin: 20px 0; /* Avstånd upp och ner */
}
#weather-title {
  color: white;
}

.weather-box {
  display: flex;
  align-items: center; /* Vertikal centrering */
  justify-content: flex-start; /* Justerar ikon och text horisontellt */
  gap: 20px; /* Lägger lite mellanrum mellan ikon och text */
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Centrerar texten vertikalt */
  text-align: flex-start; /* Alternativt använd `center` för centrerad text */
  gap: 0px;
}
#location,
#temperature,
#description {
  font-size: 0.8rem;
  color: rgb(161, 159, 159);
}

.weather-container p {
  margin: 0; /* Ta bort onödiga marginaler */
  padding: 0; /* Ta bort padding */
  line-height: 1.2; /* Minska radavståndet */
}

#icon {
  filter: invert(100%);
  width: 50px; /* Justera storleken på ikonen */
  height: 50px;
  display: block;
  margin: 0;
  align-self: center;
}

.animate {
  animation: pop 0.5s forwards;
}

@keyframes pop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(15px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
